.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #7749F8;
  }
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    background-color: #7749F8;
  }
    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    background-color: #7749F8;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
    background-color: #7749F8;
  }

  .header-right {
    float: right;
  } 
  .two{
    padding: 10px;
    box-shadow: 1px 2px 2px gray ;
}
.btn {
    background-color: #7f51c4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .bd{
    padding: 20px;
    border-radius: 10px;
    background-color: #ced6de;
    border-style: none;
    border-color:  #7f51c4 ;
  
  }
  
  .box{
    display: flex;
    justify-content:center ;
  }
  
  .bd input{
   margin-left: 10px;
   margin-bottom: 5px;
   padding: 10px;
   font-size:medium; 
   border-radius: 7px;
   border-color: #7f51c4;
   }
  
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding-bottom: 10px;
  }
  #btn:hover {
    background: #7749F8;
    transform: scale(1.05); 
  }
  #btn{
    background-color: #7749F8 ; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  